/*
E, pE:		0, 0, 0, 1
C, pC, atr:	0, 0, 1, 0
Id			0, 1, 0, 0
inl			1, 0, 0, 0
*/

*{												/*Resetando os estilos do navegador*/
	padding: 0px;
	margin: 0px;
	list-style: none;
	outline: none;
	border: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.logo{
	font-family: 'Lobster', cursive;
	color: #477F6D;
}

form{											/* Estilo geral dos formularios */
	padding: 30px;
	width: fit-content;
	height: auto;
	border-radius: 12px;
}

form .icone{
	color: #477F6D;
}

.atrForm{										/* Estilo geral dos atributos dos formularios */
	font-size: 20px;
	margin: 10px 0px 10px 0px;
	border-radius: 6px;
	padding: 10px;
	width: 100%;
}

form input[type="submit"]{
	background-color: #5BA28B;
	font-weight: bold;
}

form input[type="submit"]:hover{
	background-color: #477F6D;
}

/*Configuracoes da area de login*/

.bodyPaginaLogin{								/* Estilo do body da pagina de login */
	background-image: url("/images/wall.jpg");
	background-size: cover;
	font-family: Verdana;	
}

.divMaskBackgroundImage{
	background-color: rgba(0,0,0,.5);
}

.divFormLogin{									/* Estilo da div que abriga o formulario de login */
	height: 100%;								/* Altura da area dor formulario */
	min-height: 100%;							/* Altura minima da area dor formulario */
	display: flex;								/* Flexbox */
	align-items: center;						/*Alinha form no centro*/
	justify-content: center;					/*Alinha form no centro*/
}

.formLogin{										/*Estilo do formulario de login*/
	background-color: rgba(255,255,255,0.5);
	margin-top: 1%;
	width: 400px;
	text-align: center;
}

.formLogin .logo{
	font-size: 48px;
}

.formLogin .atrForm{
	width: 82%;
}

.formLogin .divBtEnviar input[type="submit"]{	/* Estilo do botao submit do formulario de login */
	width: 100%;
}