/*
E, pE:		0, 0, 0, 1
C, pC, atr:	0, 0, 1, 0
Id			0, 1, 0, 0
inl			1, 0, 0, 0
*/

*{												/*Resetando os estilos do navegador*/
	padding: 0px;
	margin: 0px;
	list-style: none;
	outline: none;
	border: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* body */

body{
	min-width: 550px
}


/* Body da pagina inicial */

.bodyMainPage{
	background-color: #333;
}


/* Menu do topo da pagina inicial */

.topMenuBar{
	background-color:  #009900;
	color: #eeeeee;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-family: verdana;
}


/* Logo ao lado do menu na pagina inicial */

.topMenuBar .logo{
	color: #eeeeee;
	font-size: 32px;
	margin-right: 16px;
}


/* Item do menu da pagina inicial */

.itemTopMenuBar{
	margin: 4px;
	margin-right: 16px;

}


/* Links do menu */

.itemTopMenuBar a{
	color: #fff;
	border-radius: 8px;
	padding: 10px;
}


/* Links do menu ao passar o mouse */

.itemTopMenuBar a:hover{
	color: #fff;
	text-decoration: none;
	background-color: #006600;
	transition: .3s;
}

.beginning{
	font-size: 2em;
	color: #dddddd;
	background-color: #333333;
	margin: 8px;
}


/* Area de escolha de tipo de acesso */

/*.chooseTypeAccess{
	display: grid;
	grid-template-columns: 50% 50%;
	height: 80%;
	margin: 8px;
	
}*/

/*.typeAccess{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	background-size: cover;
	transition-duration: 1s;
	
}*/

/*.typeAccess:hover{
	background-color: rgba(0,0,0,0);
}

.typeAccess a:link{
	text-decoration: none;
}

.typeAccessClick{
	background-color:  #009900;
	padding: 16px;
	border-radius: 16px;
	color: #dddddd;
}

.typeAccessClick:hover{
	background-color: #006600;
	padding: 16px;
	border-radius: 16px;
	color: #dddddd;
}*/

.logo{
	font-family: 'Lobster', cursive;
	color: #009900/*#477F6D*/;
}


/* Estilo geral dos formularios */

form{											/* Estilo geral dos formularios */
	padding: 30px;
	width: fit-content;
	height: auto;
	border-radius: 25px;
}

form .logo{
	font-size: 48px;
}

form .icone{
	color: #009900/*#477F6D*/;
}

.atrForm{										/* Estilo geral dos atributos dos formularios */
	font-size: 16px;
	margin: 8px 0px 8px 0px;
	border-radius: 8px;
	padding: 8px;
	width: 100%;
	border-color: #333333;
}

.atrFormSizeHalf{
	width: 49.5%;
}

form .divBtEnviar{
	text-align: center;
}

form input[type="submit"]{
	background-color: /*#5BA28B*/#009900;
	font-weight: bold;
	color: white;
	margin-top: 32px;
}

form .divBtEnviar input[type="submit"]{	/* Estilo do botao submit do formulario de login */
	width: 50%;
}

form input[type="text"], form input[type="password"]{
	text-shadow: 10px, 10px;
	border: 1px solid #888888;
}


form input[type="submit"]:hover{
	background-color: /*#477F6D*/#006600;
}

form input[disabled]{
	background-color: /*#477F6D*/#888888;
}

form input[disabled]:hover{
	background-color: /*#477F6D*/#888888;
}


/*Configuracoes da area de login de medicos*/

/*.bodyPaginaLoginDoctor{								/* Estilo do body da pagina de login */
/*	background-image: url("/images/wall.jpg");
	background-size: cover;
	font-family: Verdana, "sans-serif";	
}*/


/*Configuracoes da area de login do usuario*/

.bodyPaginaLoginUser{								/* Estilo do body da pagina de login */
	background-image: url("/images/frontdesk.png");
	background-size: cover;
	font-family: Verdana, "sans-serif";	
}

.divMaskBackgroundImage{
	background-color: rgba(0,0,0,.5);
}

.divFormLogin{									/* Estilo da div que abriga o formulario de login */
	height: 100%;								/* Altura da area dor formulario */
	min-height: 100%;							/* Altura minima da area dor formulario */
	display: flex;								/* Flexbox */
	align-items: center;						/*Alinha form no centro*/
	justify-content: center;					/*Alinha form no centro*/
}

.formLogin{										/*Estilo do formulario de login*/
	background-color: #ffffff;
	margin-top: 1%;
	width: 400px;
	text-align: center;
}

.formLogin .atrForm{
	width: 82%;
}


/*CONFIGURACOES DA PAGINA DE CADASTRO DE NOVOS USUARIO*/

/*Div do formulario da pagina*/
.divUserRegisterForm{
	
}

.divUserRegisterForm form{
	width: 100%;
}

/*Titulo do formulario*/
.formUserRegisterTitle{
	text-align: center;
}